<h1 class="display-1">DemoDaze</h1>
<% if flash[:message] %>
    <%= flash[:message] %>
<% end %>

<div class="lead mb-5">
    <%= link_to "Login", "/login" %>
    |
    <%= link_to "Sign Up", "/signup"%>
    |
    <%= link_to "Sign In With Google", '/auth/google_oauth2' %>
</div>