<h1>Demo Reports:</h1>

<% if flash[:message] %>
    <%= flash[:message] %>
<% end %>

<ul>
    <% @demo_reports.each do |report| %>
        <h4><%= report.bike.name%> Demo Report </h4>
        <p>By: <%= report.user.name%> </p>
        <p><%= link_to "View Report", demo_report_path(report.id) %><p>
    <% end %>
</ul>