<h1>Welcome, <%=@user.name%>!</h1>

<h3>Your Demo Reports:</h3>
<% @user.demo_reports.each do |d| %>
    <%=d.bike.name %>
    <%= button_to "Edit Report", edit_demo_report_path(d.id), method: :get %>
    <div><%= button_to "Delete Report", demo_report_path(d.id), method: :delete %></div>
<% end %>