<h1>Demo'd Dealers</h1>
<% @dealers.each do |dealer| %>
    <h3><%= dealer.name %></h3>
    <% dealer.bikes.each do |bike| %>
        <li><%= bike.name %></li>
        <%= link_to "View Bike", bike_path(bike.id) %>r
    <% end %>
<% end %>